html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  margin: 0;
}

main {
  background-color: white;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(146, 4, 4);
}

aside p {
  text-align: center;
}

.project {
  border: 2px solid black;
  border-radius: 10%;
  width: 33%;
  height: 40vh;
  padding: 5px;
}

.project h5 {
  text-align: center;
  margin-top: 33%;
}

.back-arrow {
  position: fixed;
  z-index: 1;
  top: 135px;
  left: 40px;
  background-color: blueviolet;
  border-radius: 50%;
}

#landing, #profile-container, #portfolio, #portfolio-container, nav{
  display: flex;
}

#landing, #proximity, #seasonality, #affordability, #closest {
  border-top: 10vh solid white;
  height: 90vh;
}

nav {
  gap: 7vmin;
  width: 50%;
  margin-left: 55vw;
  margin-top: 3vmin;
  margin-right: 5vw;
  font-size: 30px;
}

#landing article {
  width: 50%;
}

h3, #greeting p {
  text-align: center;
}

#greeting h3 {
  margin-top: 30vmin;
}

h3 {
  font-size: 60px;
}

h5 {
  font-size: 30px;
}

p {
  font-size: 30px;
}

#profile-container {
  justify-content: space-around;
  align-content: space-around;
  max-height: 80%;
  margin-top: 7vh;
}

#profile-photo {
  border: 10px solid blueviolet;
  border-radius: 50%;
}

#navbar {
  width: 100%;
  height: 10vh;
  position: fixed;
  overflow: hidden;
  top: 0;
  z-index: 1;
  background-color: blueviolet;
}

#logo {
  position: fixed;
  height: 8vmin;
  width: 8vmin;
  margin-top: 5px;
  margin-left: 10px;
}

#portfolio {
  justify-content: space-around;
  background-color: blueviolet;
  padding-top: 19px;
  padding-bottom: 19px;
  height: 90vh
}

#portfolio aside {
  width: 20vw;
  margin-left: 5vw;
}

#portfolio-container {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 2vh;
}

#proximity p, #affordability p, #closest p, #seasonality p {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

.hidden {
  display: none;
}